### main ###
set_io  TCXO H16

### wake signals ###
# temporarily using MCO input from MCU to mirror the signal to NWAKE_[1-4] until WAKE_[1-4] can by set by QSPI
set_io  NWAKE_IN H11
set_io  NWAKE_1 R9
set_io  NWAKE_2 T11
set_io  NWAKE_3 B10
set_io  NWAKE_4 E13

### leds ###
set_io  FPGA_ACT E6
set_io  MCU_ACT F7

### buzzer ###
set_io  BUZZER D4

### timer muxes ###
set_io  MUX_SEL1 L14
set_io  MUX_SEL2 M15
set_io  MUX_SEL3 D15
set_io  MUX_SEL4 F15

### expansion port clocks ###
set_io  FPGA_CLK_1 T13
set_io  FPGA_CLK_2 T14
set_io  FPGA_CLK_3 B11
set_io  FPGA_CLK_4 A11

### QuadSPI 1 (MCU ONLY) ###
set_io QUADSPI1_IO[0] J16
set_io QUADSPI1_IO[1] K16
set_io QUADSPI1_IO[2] J15
set_io QUADSPI1_IO[3] K15
set_io QUADSPI1_CLK G16
set_io QUADSPI1_NCS L16

### Buttons ###
set_io USER_0 K11
set_io USER_1 P13

### Logic Analyzer ###
set_io LA_IO[0] P2
set_io LA_IO[1] R1
set_io LA_IO[2] M2
set_io LA_IO[3] P1
set_io LA_IO[4] L1
set_io LA_IO[5] M1
set_io LA_IO[6] J2
set_io LA_IO[7] K1
set_io LA_IO[8] J1
set_io LA_IO[9] H1
set_io LA_IO[10] G1
set_io LA_IO[11] G2
set_io LA_IO[12] F1
set_io LA_IO[13] F2
set_io LA_IO[14] D1
set_io LA_IO[15] D2

### Encoder A (ABZ)
set_io ENCODER_A[2] H5
set_io ENCODER_A[1] L5
set_io ENCODER_A[0] K5

### Encoder B (ABZ)
set_io ENCODER_B[2] N4
set_io ENCODER_B[1] N5
set_io ENCODER_B[0] G5

### Encoder C (ABZ)
set_io ENCODER_C[2] L6
set_io ENCODER_C[1] K4
set_io ENCODER_C[0] T5

### Encoder X (ABZ)
set_io ENCODER_X[2] E5
set_io ENCODER_X[1] J5
set_io ENCODER_X[0] H6

### Encoder Y (ABZ)
set_io ENCODER_Y[2] N6
set_io ENCODER_Y[1] L4
set_io ENCODER_Y[0] F5

### Encoder Z (ABZ)
set_io ENCODER_Z[2] E2
set_io ENCODER_Z[1] R6
set_io ENCODER_Z[0] F4
